#search-container{
  padding-left: 10%;
  padding-right: 10%;
}

#list-container{
  background-color: #080808;
  padding-top: 1%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 1%;
}

#search-results{
  background-color: #e9ebee;

}
