#root{
  background: repeating-linear-gradient(45deg, #080808, #080808 300px, #FFFFF0 300px, #FFFFF0 400px) ;
  height: 100%;

}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

#lyrics-grid {
  padding: 5px;
}

#loader{
  margin-left: 30%;
}


.segColor{
  background-color: #e9ebee	 !important;
}

.seg2Color{
  background-color: #080808 !important;
}

.seg3Color{
  background-color: #e9ebee	 !important;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
