.App {
  background-color: #FFFFF0;
  height: 100vh;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

#lyrics-grid {
  padding: 5px;
}

#login{
  width:400px;
  margin:0 auto;
  margin-top: 25% ;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
